<nav class="p-3 mx-5 my-2 mx-auto custom-nav">
    <div class="d-flex flex-row" id="">
        <button class="p-2 px-2 mx-1 btn" routerLink="/home">Home</button>
        <button class="p-2 px-2 mx-1 btn" routerLink="/contact">Contact</button>
        <button class="p-2 px-2 mx-1 btn" routerLink="/about">About</button>
        <div class="p-0 mx-1 stretch"><input type="text" class="search w-100 p-2" placeholder="Search">
        </div>
        <button *ngIf="isLoggedIn()" class="p-2 mx-1 btn" (click)="goToCart()">Cart</button>
        <button *ngIf="!isLoggedIn()" class="p-2 mx-1 btn" routerLink="/login">Login</button>
        <button *ngIf="isLoggedIn()" class="p-2 mx-1 btn" (click)="logout()">Sign out</button>
    </div>
</nav>