<div class="row">
    <div class="col-sm-3 custom-container my-2" *ngFor="let p of products">
        <div class="card p-1 h-100">
            <div class="p-2  h-50">
                <img class="card-img-top h-100" src="{{ 'http://rjtmobile.com/grocery/images/'+p.image }}" alt="Product">
                <figcaption>{{p.description | checkDescription}}</figcaption>
            </div>
            <div class="card-body h-50">
                <h5 class="card-title">{{p.productName}}</h5>
                <!-- <p>{{p.description}}</p> -->
                <!-- <div class="availability">
                    <div class="avail-circle"></div>
                </div> -->
                <h5>{{p.price | currency : 'INR'}} <del>{{p.mrp | currency : 'INR'}}</del></h5>
                <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
        </div>
    </div>
</div>